.container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-top: 20px;
    width: 100%;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

nav {
    background-color: #2580b3;
    padding: 10px 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #2580b3;
}

.plot-container {
    width: 100%;
    margin: auto;
    padding-top: 20px;
}

.plot-section {
    width: 50%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slider-container,
.button-container {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    display: block;
}

.button-container button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #2580b3;
}

.button-container button.active {
    background-color: #2ecc71;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
}

table th {
    background-color: #f2f2f2;
    color: #3498db;
    font-weight: bold;
}

input[type=range] {
    -webkit-appearance: none;
    width: 50%;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    opacity: 0.9;
    transition: opacity 0.3s;
}

input[type=range]:hover {
    opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #3498db;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #2580b3;
}

input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #3498db;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type=range]::-moz-range-thumb:hover {
    background: #2580b3;
}

